<div class="custom-container">
    <!-- <div class="about flex gap-20">
        <div class="about-image">
            <img loading="lazy" src="../../../assets/images/keval.jpeg" alt="Keval Vadhiya">
        </div>
        <div class="about-content">
            <h1>Keval Vadhiya</h1>
            <p>
                My name is Keval Vadhiya. I graduated from Gujarat Technological University with a degree in Computer Science & Engineering. I have been working as Angular Developer for more than 2+ years. I have created this blog site for my portfolio. My objective is to produce excellent final products while writing clear and intelligible code. I have a strong attention to detail and persistence. I am self-motivated, growth-oriented, and eager to learn new things.
                <br><br>
                In addition to coding, I also enjoy playing video games 🎮 and watching movies 📽️.
            </p>
            <p class="about-social">
                <a href="https://m.facebook.com/profile.php?id=100008179782042" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
                <a href="https://twitter.com/kevalvadhiya101" target="_blank"> <i class="fa-brands fa-twitter"></i> </a>
                <a href="https://www.instagram.com/_keval_101/" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="https://www.linkedin.com/in/keval-v-914064199/" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>
                <a href="https://github.com/keval101" target="_blank"> <i class="fa-brands fa-github"></i> </a>
            </p>
        </div>
    </div> -->

    <img src="/assets/images/about-us.webp" loading="lazy" alt="About Us Banner" class="banner-image">

    <div class="about">
        <div class="mb-12 pt-20">
            <h1 class="about-title">Your One-Stop Shop for Quick Bites of Knowledge on Everything</h1>
            <p>Welcome to Quickblogs, your daily dose of insightful content on a variety of topics that keep the world turning! We're passionate about quenching your thirst for knowledge across the ever-changing landscapes of sports, global news, social issues, and economics.</p>
        </div>
    
        <div class="mb-12">
            <h1 class="about-title">Our Mission</h1>
            <p>At Quickblogs, we're committed to empowering you with the knowledge you need to navigate today's complex world. We believe that information is power, and we strive to make it accessible and understandable to everyone.</p>
        </div>
    </div>
    
    
</div>